<!-- MY EVERYPAGE HEADER -->

<header>
    <nav>
        <a href="/">Shop Era</a>

        <ul>
            <li><a href="/sellers">Sellers</a></li>
            <li><a href="/sellers/new">Add Seller</a></li>
        </ul>
    </nav>
</header>